/* ------------------------ Primary button ------------------------ */

.btnPrimary
{
    display: inline-block;
    padding: .575em 1.2em .475em 1.2em;
    background-color: var(--color-primary);
    color: white;
    border: solid 1px var(--color-primary);
    border-radius: var(--border-radius);
    cursor: pointer;
    position: relative;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}

a.btnPrimary span
{
    white-space: nowrap;
}

    .btnPrimary:hover
    {
        background-color: var(--color-basic-4);
        border-color: var(--color-basic-4);
    }

    .btnPrimary:disabled
    {
        cursor: default;
        border-color: var(--color-basic-3);
        background-color: var(--color-basic-3);
        user-select: none;
    }

    .btnPrimary--loading
    {
        background-color: var(--color-basic-4);
    }

    .btnPrimary--loading .btnPrimary__text
    {
        visibility: hidden;
        opacity: 0;
    }

    .btnPrimary--loading::after
    {
        content: "";
        position: absolute;
        width: 1em;
        height: 1em;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 2px solid transparent;
        border-top-color: #fff;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
    }
    
    @keyframes button-loading-spinner
    {
        from {
            transform: rotate(0turn);
        }
        
        to {
            transform: rotate(1turn);
        }
    }

/* ------------------------ Secondary button ------------------------ */

.btnSecondary
{
    display: inline-block;
    padding: .575em 1.2em .475em 1.2em;
    background-color: transparent;
    color: var(--color-primary);
    border: solid 1px var(--color-primary);
    border-radius: var(--border-radius);
    cursor: pointer;
    position: relative;
    font-size: 1em;
    text-decoration: none;
}

a.btnSecondary span
{
    white-space: nowrap;
}

    .btnSecondary:hover
    {
        border-color: var(--color-basic-4);
        color: var(--color-basic-4);
    }

    .btnSecondary:disabled
    {
        cursor: default;
        border-color: var(--color-basic-3);
        color: var(--color-basic-3);
        user-select: none;
    }

    .btnSecondary--loading
    {
        border-color: var(--color-basic-4);
    }

    .btnSecondary--loading .btnSecondary__text
    {
        visibility: hidden;
        opacity: 0;
    }

    .btnSecondary--loading::after
    {
        content: "";
        position: absolute;
        width: 1em;
        height: 1em;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 2px solid transparent;
        border-top-color: var(--color-basic-4);
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
    }
    
    @keyframes button-loading-spinner
    {
        from {
            transform: rotate(0turn);
        }
        
        to {
            transform: rotate(1turn);
        }
    }